html {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: calc(var(--header-height) + 5vh) var(--body-side-padding);
    padding-bottom: 5vh;
    margin: 0;
    gap: 5vh;
    background: linear-gradient(
        200deg,
        var(--dark-green) 0%,
        var(--bg) 30%,
        var(--bg)
    );
    background-attachment: fixed;

    min-height: 400vh;
}

main button {
    display: flex;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5vh 1.5vw;
    color: var(--text-primary);
    background: rgba(255, 255, 255, 0.05); /* Glassy base */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5vh 2vh 0.5vh 2vh;

    transition:
        background 0.3s ease,
        backdrop-filter 0.3s ease,
        box-shadow 0.3s ease,
        box-shadow 0.2s ease,
        opacity 1s ease,
        transform 1s ease;
}
main button:hover {
    transition-duration: 0.3s;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow:
        0 0 5px rgba(255, 255, 255, 0.3),
        0.5vw 0.5vw 0.3vw var(--dark-green);
    transform: translate(-0.3vw, -0.3vw);
}

main button small {
    opacity: 0;
    transition: opacity 0.4s ease;
}
main button:hover small {
    opacity: 1;
}
