html {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

main hr {
    padding: 0;
    margin: 2vh 0;
    width: 100%;
    height: 1px;
    border: none;
    border-radius: 5px;
    background: var(--border);
}

main .spacer {
    height: 2vh;
}

main .image-text {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: var(--body-side-padding);
}

main .image-text hr {
    margin: 1vh 0;
    padding: 0;
    width: 100%;
    height: 1px;
    border: none;
    border-radius: 5px;
    background-color: var(--border);
}

main .image-text .text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: left;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* flexible columns */
    gap: 10px;
    padding: 10px;
    max-width: 1200px;   /* limit max width to keep content centered */
    margin: 0 auto;      /* center the gallery horizontally */
}

.image-gallery img {
    width: 100%;     /* fill container width */
    height: auto;    /* keep aspect ratio */
    border-radius: 8px;
    object-fit: cover; /* crop if necessary */
    display: block;
}

main .image-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--body-side-padding);
    max-width: 100%;
    object-fit: cover;
}

main .image-group img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    border-radius: 1vh;
}

/* Style for rows */
main .image-group .row {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

/* Style for columns */
main .image-group .column {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main table {
    padding: 0;
    margin: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    color: var(--text-primary);
    border-radius: 1vh;
    overflow: hidden;
}

main th, main td {
    padding: 2vh 1vw;
    text-align: left; /* Align text in cells */
}

main th {
    background-color: var(--bg-dark);
    color: var(--text-primary);
    font-weight: normal;
}

main td {
    background-color: var(--grey);
}

main tr:nth-child(even) td {
    background-color: var(--grey-dark)/* Alternate row */
}

main table tr:hover td {
    background-color: var(--dark-green);
    color: var(--accent-hover);
}

/* Column widths */
main table colgroup col:nth-child(1) {
    width: 30%; /* Regatta */
}

main table colgroup col:nth-child(2) {
    width: 25%; /* Host */
}

main table colgroup col:nth-child(3) {
    width: 15%; /* Date */
}

main table colgroup col:nth-child(4) {
    width: 10%; /* Position */
}

main table colgroup col:nth-child(5) {
    width: 10%; /* Result */
}
