body {
    margin: 0;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem; /* Adjust the height as needed */
    z-index: 0; /* Ensure header stays on top */

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #000000, #00460d, #71ff8b);
    background-size: 600% 600%;
    background-attachment: fixed;
    animation: gradientMove 60s ease infinite;
}

@keyframes text-color-change {
    0% {color: #71ff8b;}
    50% {color: #00460d;}
    100% {color: #71ff8b;}
}

h1 {
    font-family: Andale Mono, monospace;
    font-size: 4rem;
    color: #00460d;
    animation: text-color-change 60s ease infinite;
}

.sticky-bar {
    position: sticky;
    top: 0;
    background: #00460d;
    padding: 2px;
    margin-top: 10rem; /* Match the height of the header */
    z-index: 1; /* Ensure it stays above content but below the header */
}

main {
    position: relative; /* Ensure content scrolls normally */
    background-color: #1d211e;
    padding: 10px;
    min-height: 150vh; /* Ensure the content has enough space to scroll */
    z-index: 0; /* Lower than header */
}

.timeline-item {
    position: relative; /* For positioning pseudo-elements */
    width: 80%; /* Adjust width as needed */
    margin: 20px auto; /* Center the box */
    padding: 20px;

    /* Transparent background */
    background-color: transparent;
    text-align: center; /* Center text inside */
}

.timeline-item h3 {
margin: 0 0 10px;
font-size: 1.5rem;
color: #71ff8b;
}

.timeline-item p {
margin: 0;
font-size: 1rem;
color: #71ff8b;
}

.timeline-item::before,
.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px; /* Width of the stroke */
    height: 20px; /* Height of the stroke */
    background-color: transparent;
    border: 2px solid #71ff8b; /* Color of the stroke */
}

.timeline-item::before {
    top: 0;
    left: 0;
    border-right: none; /* Remove right edge */
    border-bottom: none; /* Remove bottom edge */
}

.timeline-item::after {
    bottom: 0;
    right: 0;
    border-left: none; /* Remove left edge */
    border-top: none; /* Remove top edge */
}
