html {
    animation: backgroundChange 60s ease infinite;
}

.no-overscroll {
    overscroll-behavior: none; /* Disable overscroll effects */
}

body {
    display: block;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem; /* Adjust the height as needed */
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    position: relative;
    font-family: Andale Mono, monospace;
    font-size: 4rem;
    animation: text-color-change 60s ease infinite;
}

.sticky-line {
    position: sticky;
    top: 0;
    width: 100%;
    height: 3px;
    border: none;
    margin: 0; /* Removes the default margin */
    overscroll-behavior: none;

    background-color: #40916C;
    margin-top: 10rem; /* Match the height of the header */
    z-index: 1; /* Ensure it stays above content but below the header */
}

main {
    position: relative; /* Ensure content scrolls normally */
    background-color: #081C15;
    padding: 30px 10px 5px;
    margin: 0;
    min-height: 150vh;
    /* Ensure the content has enough space to scroll */
    z-index: 0;
}

.item {
    position: relative; /* For positioning pseudo-elements */
    width: 50%;
    margin: 50px auto; /* Center the box */
    padding: 20px;

    /* Transparent background */
    background-color: transparent;
    text-align: center; /* Center text inside */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    transition: transform 0.3s ease, background-color 2s ease;
}

.item h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #40916C;

    transition: color 2s ease;
}

.item p {
    margin: 0;
    font-size: 1rem;
    color: #40916C;

    transition: color 2s ease;
}

.item::before,
.item::after {
    content: '';
    position: absolute;
    width: 20px; /* Width of the stroke */
    height: 20px; /* Height of the stroke */
    background-color: transparent;
    border: 2px solid var(--border-color, #40916C); /* Color of the stroke */
    transition: width 2s ease, height 2s ease, border 2s ease;
}

.item::before {
    top: 0px;
    left: 0px;
    width: var(--before-width, 10%);
    height: var(--before-height, 10%);
    border-right: none; /* Remove right edge */
    border-bottom: none; /* Remove bottom edge */
}

.item::after {
    bottom: 0px;
    right: 0px;
    width: var(--after-width, 10%);
    height: var(--after-height, 10%);
    border-left: none; /* Remove left edge */
    border-top: none; /* Remove top edge */
}

@keyframes backgroundChange {
    0% { background-color: #1B4332;}
    50% { background-color: #74C69D;}
    100% {background-color: #1B4332;}
}

@keyframes text-color-change {
    0% {color: #74C69D;}
    50% {color: #1B4332;}
    100% {color: #74C69D;}
}
