html {
    padding: 0;
    margin: 0;
    background-color: #031911;
}

body {
    font-family: Menlo, monospace;
    padding: 0;
    margin: 0;
    background-color: #031911;
}

header {
    padding: 0;
    margin: 0;
    color: #52B788;
}

header h1 {
    margin: 0;
    padding: 3% 0 0 4%;
    font-size: 4vw;
}

header h3 {
    padding: 0 0 0 4%;
    font-size: 1.5vw;
}

header p {
    padding: 0 0 0 4%;
    font-size: 1vw;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes bounceDown {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(0.6vw);
  }
}

.dropdown {
    position: fixed;
    top: -17vw;
    right: 0%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding: 0;
    margin: 0;
    width: 10vw;
    height: 21.5vw;
    background-color: #52B788;
    color: #05291C;
    opacity: 0;
    border-radius: 0 0 0 1vw;
    font-size: 2vw;
    user-select: none;
    text-align: center;
    transition: all ease 0.6s;
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.2s;
}
.dropdown .menu {
    display: flex;
    flex-direction: column;
}
.dropdown .menu a {
    color: #05291C;
    padding: 1vw;
    cursor: pointer;
}
.dropdown .arrow {
    transition: transform ease 0.6s;
}
.dropdown .arrow i {
    padding: 1vw;
    animation: bounceDown 1.5s ease forwards;
    animation-delay: 0.7s;
}

.dropdown:hover {
    transform: translateY(17vw);
}
.dropdown .menu a:hover {
    background-color: #05291C;
    color: #52B788;
}
.dropdown:hover .arrow {
  transform: rotate(180deg);
}

hr {
    width: calc(100% - 8%);
    height: 1px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #52B788, #09422D);
}

main {
    color: #52B788;
}

main h2 {
    padding: 0 4% 0 4%;
    font-size: 3vw;
}

main h3 {
    padding: 0 4% 0 4%;
    font-size: 2vw;
}

main p {
    padding: 0 4% 0 4%;
    font-size: 1vw;
}

main .spacer {
    height: 1px;
}

main table {
    width: calc(100% - 8%);
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
    color: #031911;
    border-radius: 0.7vw;
    overflow: hidden;
}

main th, main td {
    padding: 10px; /* Adjust padding for cells */
    text-align: left; /* Align text in cells */
}

main th { /* Header */
    background-color: #05291C;
    color: #52B788;
    font-size: 1.5vw;
}

main td {
    background-color: #52B788;
    font-size: 1vw;
}

main tr:nth-child(even) td {
    background-color: #40916C; /* Alternate row */
}

main table tr:hover td {
    background-color: #05291C;
    color: #52B788;
}

/* Customize column widths */
main colgroup col:nth-child(1) {
    width: 26%; /* Regatta */
}

main colgroup col:nth-child(2) {
    width: 21%; /* Host */
}

main colgroup col:nth-child(3) {
    width: 15%; /* Date */
}

main colgroup col:nth-child(4) {
    width: 10%; /* Position */
}

main colgroup col:nth-child(5) {
    width: 10%; /* Result */
}

main .image-text {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    width: 90%;
    margin: auto;
    gap: 10%;
}

main .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main .text h2, main .text h4{
    margin: 10px;
}

main .text p {
    margin-top: 25px;
}

main .image-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: calc(100% - 8%);
    margin: auto;
    max-width: 100%;
    object-fit: cover;
}

main .image-text hr {
    width: 80%;
    height: 1px;
    border: none;
    margin: 0px auto;
    border-radius: 5px;
    background-color: #D8F3DC;
}

main .image-group img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Style for rows */
main .image-group .row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/* Style for columns */
main .image-group .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
